/* DEFAULT STYLING */
body {
  background-color: rgb(201, 201, 201);
  color: rgb(60, 60, 60);
  font-family: Tahoma, Geneva, sans-serif;
}

/* align in the middle of the page*/
.middle {
  display: flex;
  justify-content: center;
}

/* align in the center of the page */
.center {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* FORM STYLING - USER FORM AND ITEM FORM */

form {
  border: 1px solid rgb(60, 60, 60);
  box-shadow: 0 2px 3px rgb(104, 104, 104);``
  max-width: 800px;
}

form > div{
  padding: 16px;
}

.form-title {
  font-size: 3rem;
  text-align: center;
}

form label{
 float: left;
 font-weight: bold;
}

/* Full-width inputs */
form input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

form input:focus, form input:hover, form select:focus, form input:hover {
  background: beige;
}

/* Set a style for all buttons */
form button {
  background-color: cornflowerblue;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  max-width: 60%;  
  text-decoration: none; 
  border: 0;
  outline: none;
}

.register-btn {
  background: orchid;
  margin-left: 5%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  box-shadow: 0 2px 3px rgb(104, 104, 104);
}

/* NAV BAR HEADER */
.navbar ul { text-align: center; }
.navbar ul li { 
  display: inline;
  font-size: 1.20em;
  margin-right: 1em;
  text-decoration: none;
}
.navbar ul li a { 
  color: rgb(60, 60, 60);
  outline: none;
  text-decoration: none; 
}
.navbar ul li a:visited { color: rgb(60, 60, 60); }
.navbar ul li a:hover { color: rgb(187, 138, 47); }

/* SEARCH BAR AND ITEMS TABLE */
.tableandsearch {
  margin-top: 20px;
}

.searchbar {  
  border-radius: 5px;
  font-size: 1.5em;
  margin-bottom: 20px;
  width: 400px;
}

.itemstable {
  width: 70%;
  height: auto;
  margin: auto;
  /* margin: 20px auto auto auto; */
  max-width: 800px;
}

.tableheader {  
  color: rgb(187, 138, 47);
  font-size: 1.25em;
  font-weight: 600;
}
.tableheader:hover { cursor: pointer; }

.itemrow {
  height: 6em;
  margin : auto;
  border: 1px solid white;
  padding: 1em;
  box-shadow: 0 2px 3px rgb(104, 104, 104);
  text-align: center;
}
.itemrow td { font-size: 1.25rem; }

.delete-btn{
  background: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
}

.delete-btn:hover{
  background: rgb(228, 41, 41);
  border: 1px solid rgb(228, 41, 41);
  cursor: pointer;
}

.edit-btn{
  background: rgb(76, 175, 80);
  border: 1px solid rgb(76, 175, 80);
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
}

.edit-btn:hover{
  background: rgb(81, 163, 84);  
  border: 1px solid rgb(81, 163, 84);
  cursor: pointer;
}